[submodule "smooth-distances"]
	path = external/smooth-distances
	url = git@github.com:abhimadan/smooth-distances.git
[submodule "CrowdsPaper"]
	path = CrowdsPaper
	url = git@github.com:itsvismay/CrowdsPaper.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
